* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  padding: 1.5rem;
}
main .sec-1 {
  width: 100%;
  padding-top: 2rem;
}
main .sec-1 .svg {
  width: 100%;
}
main .sec-1 .svg img {
  width: 100%;
  object-fit: cover;
}
main .sec-1 .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
main .sec-1 .text p {
  font-size: 1.5rem;
  opacity: 0.9;
  text-transform: uppercase;
}
main .sec-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 2rem;
}
main .sec-2 .top {
  width: 100%;
}
main .sec-2 .top img {
  width: 100%;
  object-fit: cover;
}
main .sec-2 .bottom {
  display: flex;
  flex-direction: column;
}
main .sec-2 .bottom h1 {
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.9em;
}
main .sec-2 .bottom p {
  font-size: 1.6rem;
  padding-top: 1.5rem;
}
main .sec-2 .bottom .display {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .sec-2 .bottom .display .strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sec-2 .bottom .display .strip h1 {
  font-size: 2.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0.9;
  font-weight: 350;
}
main .sec-2 .bottom .display .line {
  height: 1px;
  width: 100%;
  background-color: #000;
}
main .sec-3 {
  width: 100%;
  padding-top: 2.5rem;
}
main .sec-3 img {
  width: 100%;
  object-fit: cover;
}
main .sec-3 .btm {
  width: 100%;
  display: flex;
  padding-top: 2.5rem;
  gap: 2rem;
}
main .sec-3 .btm h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  opacity: 0.9;
}
main .sec-3 .btm .btm-txt h1 {
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1em;
  padding-bottom: 1.5rem;
}
main .sec-3 .btm .btm-txt p {
  font-size: 1.6rem;
  opacity: 0.9;
  line-height: 2.2rem;
}

@media (min-width: 900px) {
  main {
    padding: 2rem 3.5rem;
  }
  main .sec-1 .text {
    padding: 1rem 0;
  }
  main .sec-1 .text p {
    font-size: 1rem;
  }
  main .sec-2 {
    flex-direction: row-reverse;
  }
  main .sec-2 .bottom h1 {
    font-size: 4.1rem;
    padding-top: 1rem;
  }
  main .sec-2 .bottom p {
    width: 74%;
    font-size: 1.2rem;
  }
  main .sec-2 .bottom .display {
    margin-top: auto;
  }
  main .sec-2 .bottom .display .line {
    opacity: 0.5;
  }
  main .sec-3 {
    display: flex;
    gap: 4rem;
    padding-top: 5rem;
  }
  main .sec-3 img {
    width: 35%;
  }
  main .sec-3 .btm {
    width: 65%;
    flex-direction: row-reverse;
  }
  main .sec-3 .btm h2 {
    font-size: 1.2rem;
  }
  main .sec-3 .btm .btm-txt h1 {
    font-size: 5em;
  }
  main .sec-3 .btm .btm-txt p {
    width: 71%;
    font-size: 1.3rem;
    opacity: 0.7;
    line-height: 1.5rem;
    margin-top: 8em;
  }
}