:root {
  --pri: #f6f0d7;
  --sec: #c5d89d;
  --ter: #9cab84;
  --foreground: #89986d;
}

@font-face {
  font-family: manropeLight;
  src: url(./static/Manrope-Light.ttf);
}
@font-face {
  font-family: manropeNormal;
  src: url(./static/Manrope-Regular.ttf);
}
@font-face {
  font-family: manropeSemi;
  src: url(./static/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: manropeBold;
  src: url(./static/Manrope-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "manropeNormal";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--foreground);
  padding: 2rem 3rem;
  font-family: "manropeNormal";
}
main .allElems {
  height: 100%;
  width: 100%;
}
main .allElems header {
  height: 45%;
  width: 100%;
  background-color: var(--sec);
  color: var(--pri);
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-image: url("https://images.unsplash.com/photo-1419833173245-f59e1b93f9ee?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
main .allElems header .header1 {
  display: flex;
  gap: 0.5rem;
}
main .allElems header .header2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .allElems .task-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
main .allElems .task-cards .todo {
  height: 16rem;
  width: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .allElems .task-cards .todo :active {
  scale: 0.95;
}
main .allElems .task-cards .todo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .allElems .task-cards .todo h2 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 3%;
  right: 5%;
  color: var(--pri);
}
main .allElems .task-cards .daily-planer {
  height: 16rem;
  width: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .allElems .task-cards .daily-planer :active {
  scale: 0.95;
}
main .allElems .task-cards .daily-planer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .allElems .task-cards .daily-planer h2 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 3%;
  right: 5%;
  color: var(--pri);
}
main .allElems .task-cards .motivation {
  height: 16rem;
  width: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .allElems .task-cards .motivation :active {
  scale: 0.95;
}
main .allElems .task-cards .motivation img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .allElems .task-cards .motivation h2 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 3%;
  right: 5%;
  color: var(--pri);
}
main .allElems .task-cards .pomodoro {
  height: 16rem;
  width: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .allElems .task-cards .pomodoro :active {
  scale: 0.95;
}
main .allElems .task-cards .pomodoro img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .allElems .task-cards .pomodoro h2 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 3%;
  right: 5%;
  color: var(--pri);
}
main .allElems .task-cards .daily-goals {
  height: 16rem;
  width: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .allElems .task-cards .daily-goals :active {
  scale: 0.97;
}
main .allElems .task-cards .daily-goals img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .allElems .task-cards .daily-goals h2 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 3%;
  right: 5%;
  color: var(--pri);
}
main .fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--pri);
  padding: 1.5rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
main .fullElem .back {
  padding: 0.3rem 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--ter);
  position: absolute;
  right: 5%;
  cursor: pointer;
}
main .fullElem .back:active {
  scale: 0.97;
}
main .fullElem h1 {
  font-family: "manropeLight";
  font-size: 3rem;
}
main .ToDo-Page .todo-container {
  width: 100%;
  height: 80%;
  background-color: var(--foreground);
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}
main .ToDo-Page .todo-container .addTask {
  width: 30%;
  background-color: var(--ter);
  border-radius: 1rem;
}
main .ToDo-Page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 0.8rem;
}
main .ToDo-Page .todo-container .addTask form #task-input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 0.4rem;
}
main .ToDo-Page .todo-container .addTask form textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
main .ToDo-Page .todo-container .addTask form .mark {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .ToDo-Page .todo-container .addTask form .mark label {
  font-size: 0.8rem;
}
main .ToDo-Page .todo-container .addTask form button {
  width: 100%;
  padding: 0.6rem 0.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all ease 0.2s;
}
main .ToDo-Page .todo-container .addTask form button:active {
  scale: 0.96;
}
main .ToDo-Page .todo-container .taskList {
  width: 65%;
  height: 100%;
  overflow: auto;
  background-color: var(--ter);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}
main .ToDo-Page .todo-container .taskList .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.4rem;
  background-color: var(--pri);
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}
main .ToDo-Page .todo-container .taskList .list h5 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .ToDo-Page .todo-container .taskList .list h5 span {
  font-size: 0.6rem;
  background-color: red;
  color: var(--pri);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}
main .ToDo-Page .todo-container .taskList .list h5 span.true {
  opacity: 1;
}
main .ToDo-Page .todo-container .taskList .list h5 span.false {
  opacity: 0;
}
main .ToDo-Page .todo-container .taskList .list button {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--ter);
  font-size: 1rem;
}
main .ToDo-Page .todo-container .taskList .list button:active {
  scale: 0.97;
}
main .Daily-Page .dailyContainer {
  height: 85%;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--foreground);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
  justify-content: space-between;
}
main .Daily-Page .dailyContainer .day {
  position: relative;
  border-radius: 1rem;
  width: 48%;
  margin-bottom: 1.2rem;
}
main .Daily-Page .dailyContainer .day p {
  position: absolute;
  top: 12%;
  left: 0.8%;
  font-size: 1rem;
  font-family: "manropeSemi";
}
main .Daily-Page .dailyContainer .day input {
  width: 100%;
  padding: 1.8rem 1rem 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--pri);
}
main .Motivation-Page h1 {
  font-style: oblique;
}
main .Motivation-Page .motivation-container {
  width: 40vw;
  height: 52%;
  max-height: 55%;
  background-color: #fff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  border-radius: 1.5rem;
  border: 2px solid var(--foreground);
  padding: 1.2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
main .Motivation-Page .motivation-container .motivationCard {
  height: 100%;
  width: 100%;
  border-radius: 0.85rem;
}
main .Motivation-Page .motivation-container .motivationCard img {
  height: 5rem;
  position: absolute;
  opacity: 0.5;
  bottom: 6%;
  right: 5%;
}
main .Motivation-Page .motivation-container .motivationCard .upper {
  height: 28%;
  width: 100%;
  border-radius: 0.85rem 0.85rem 0 0;
  background-color: var(--sec);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
main .Motivation-Page .motivation-container .motivationCard .upper .dayBox {
  height: 2.8rem;
  width: 2.8rem;
  background-color: var(--foreground);
  border-radius: 0.6rem;
  text-align: center;
  padding-top: 0.2rem;
}
main .Motivation-Page .motivation-container .motivationCard .upper .dayBox p {
  font-size: 0.8rem;
  font-family: "manropeBold";
}
main .Motivation-Page .motivation-container .motivationCard .upper h2 {
  font-size: 1.3rem;
  font-family: "manropeBold";
  color: #1a202c;
}
main .Motivation-Page .motivation-container .motivationCard .lower {
  height: 72%;
  max-height: 80%;
  width: 100%;
  background-color: var(--ter);
  border-radius: 0 0 0.85rem 0.85rem;
  padding: 1.4rem;
}
main .Motivation-Page .motivation-container .motivationCard .lower p {
  font-family: "manropeSemi";
  font-size: 1.1rem;
  font-style: oblique;
  margin-bottom: 1rem;
}
main .Motivation-Page .motivation-container .motivationCard .lower h2 {
  font-family: "manropeSemi";
  font-size: 1.1rem;
  font-style: oblique;
}
main .PoMo-Page {
  background: url("https://images.unsplash.com/photo-1567095751004-aa51a2690368?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: var(--pri);
}
main .PoMo-Page .back {
  opacity: 0.8;
  backdrop-filter: blur(4px);
}
main .PoMo-Page h1 {
  font-family: "manropeBold";
  font-style: oblique;
  text-shadow: 2px 2px 4px rgba(226, 222, 222, 0.2);
}
main .PoMo-Page .pomo-timer {
  height: 50%;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(1rem);
  padding: 2rem;
  border: 1px solid var(--pri);
  border-radius: 1rem;
}
main .PoMo-Page .pomo-timer .session {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-family: "manropeSemi";
  text-shadow: 2px 2px 4px rgba(226, 222, 222, 0.2);
  padding: 0.5rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}
main .PoMo-Page .pomo-timer .pomo-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .PoMo-Page .pomo-timer .pomo-card h1 {
  font-size: 4.5rem;
  font-style: normal;
}
main .PoMo-Page .pomo-timer .pomo-card button {
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  margin: 0.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--pri);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "manropeSemi";
  cursor: pointer;
  transition: all ease 0.2s;
}
main .PoMo-Page .pomo-timer .pomo-card button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
main .PoMo-Page .pomo-timer .pomo-card button:active {
  scale: 0.97;
}